.movie-section h1{
  padding-top: 5%;
  font-weight: 500;
  font-size: 119px;
  line-height: 71px;
  color: #000;
  font-family:'Gilroy ExtraBold';
  padding-bottom: 5%;
}
.coin-badge {
    background: rgba(255,255,255,0.2);
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
  }

  .movie-card {
    background-color: #1e1e1e;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    color: aliceblue;
  }

  .movie-card img {
    width: 100%;
    height: 260px;
    object-fit:fill;
  }